:root {
  --darkBlue: #383948;
  --yellowChowe: #d5bf0f;
  --white: #f5f5f5;
  --black: black;
  --grey: grey;
  --justWhite: white;
  --whatsapp: #25d366;
}

.Titulo {
  font-size: 5rem;
  text-align: center;
  line-height: 6rem;
}

.Subtitulo {
  font-size: 2.8rem;
  text-align: center;
  justify-self: center;
}

.Parrafo {
  font-size: 2rem;
  text-align: center;
}

header {
  width: 100%;
  height: 14%;
  background-color: var(--black);
  z-index: 100;
}

.header-imagen {
  height: 13rem;
  width: 13rem;
}

.menu-icon {
  visibility: hidden;
}

.navBar {
    margin-right: 2rem;
  height: 100%;
  color: white;
  z-index: 100;
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  font-weight: bolder;
  text-shadow: 1px 1px var(--yellowChowe);
}

.navBar span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
  border-bottom: 2px solid transparent;
  padding-top: 1rem;
}

.navBar span:hover {
  color: var(--yellowChowe);
}

.nav-item {
  color: var(--white);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-item:hover {
  color: var(--yellowChowe);
  cursor: pointer;
}

.imgCart {
  height: 6rem;
  width: 6rem;
  
}

.body-First-Tittle {
  font-family: "Playfair Display SC", serif;
  font-size: 8rem;
  text-align: center;
  margin-top: 7rem;
  line-height: 9rem;
}

.body-First-Par {
  margin-inline-end: initial;
  color: var(--white);
}

.Button {
    
}

.body-First-Button {
  font-size: 3rem;
}

#arrowUp {
  font-size: 5rem;
}

.WhatsApp {
  position: fixed;
  top: 20rem;
  right: 2rem;
  color: var(--whatsapp);
  z-index: 120;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Wp {
  font-size: 6rem;
  text-decoration: none;
  color: var(--whatsapp);
  z-index: 10;
  cursor: pointer;
}

.body-Second-Elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.body-Second-Description {
  width: 40%;
  margin-right: 0;
  margin-top: -10rem;
  justify-content: center;
  align-items: center;
}

.body-Second-Media {
  width: 60%;
}

.body-Third-Heading h2 {
  margin: 1.5rem 0;
}

.body-Third-Menu {
  max-width: 57rem;
  margin: 1.5rem 0;
  margin: 3.5rem;
}

.MenuOption {
  width: 12.5rem;
  font-size: 2.3rem;
}

#allTheFood {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: 4rem;
}

.food-List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.food-List_element {
  min-width: 32rem;
}

.img-list-element {
  height: 8rem;
  max-width: 8rem;
}

.titulo-menu {
  font-size: 2.7rem;
}

.parrafo-menu {
  font-size: 2rem;
}

.parrafo_else {
  font-size: 2.5rem;
}

.body-Third-Button{
    padding: 5rem;
}

.contenido-Boton{
    padding: 1rem;
}

.Forth-Media {
  min-width: 30rem;
  max-width: 40rem;
  height: 38rem;
}
.Forth-Media h2 {
  font-size: 3rem;
}

.Forth-Media-img {
  width: 19rem;
  height: 15rem;
}

img.body-Fifth-Img {
  width: 35rem;
  height: 20rem;
}

.info-contact {
  font-size: 2.3rem;
}

.info-contact,
h2,
a {
  font-size: 2rem;
  text-decoration: none;
}

.campo-texto {
  width: 80vh;
}

.form_text {
  font-size: 2.2rem;
}

#button-Prev {
  left: 1rem;
}

#button-Next {
  right: 1rem;
}

.shoppingCartContainer {
  margin-top: 14rem;
}

.shoppingC{
    width: 100%;
}

.selectedItemsList{
    width: 80%;
}

.hide{
    display: flex;
}


.cartImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgCart + .Parrafo {
    margin-left: 1.5rem;
}

@media only screen and (min-width: 700px) {


  .selectedItemsList {
    
    justify-content: flex-end;
    align-content: center;
  }
  
  .productCart{
    padding: 2.5rem;
  }

  .shoppingResume {

    justify-content: center;
  }

  .titleContainerTable{
    padding-bottom: 2.5rem;
  }
}




@media only screen and (min-width: 1000px) {
  .body-sixth-Wrapper {
    display: inline-flex;
    flex-direction: row;
  }

  .shoppingC {
    flex-direction: row;
    margin-top: 1rem;
    align-items: flex-start;
    justify-content: center;
  }

  .summary{
    justify-self: flex-start;
  }

  .selectedItemsList{
    max-width: 50%;
  }

  .shoppingResume {
    width: 30%;
    justify-content: center;
  }
}
